<h1 class='hero-title'>Categories</h1><div class='grid cols-4'>
   <a class="card category-card" routerLink="/category">
      <img src="assets/images/Cake.png" alt="Cake"/>
      <div class="badge">1 Recipes</div>
      <div class="label"><div class="small">1 Recipes</div><div class="name">Cake</div></div>
    </a>
    <a class="card category-card" routerLink="">
      <img src="assets/images/Seafood.png" alt="Seafood"/>
      <div class="badge">0 Recipes</div>
      <div class="label"><div class="small">0 Recipes</div><div class="name">Seafood</div></div>
    </a>
    <a class="card category-card" routerLink="">
      <img src="assets/images/Sushi.png" alt="Sushi"/>
      <div class="badge">0 Recipes</div>
      <div class="label"><div class="small">0 Recipes</div><div class="name">Sushi</div></div>
    </a>
    <a class="card category-card" routerLink="">
      <img src="assets/images/Steak.png" alt="Steak"/>
      <div class="badge">0 Recipes</div>
      <div class="label"><div class="small">0 Recipes</div><div class="name">Steak</div></div>
    </a>
    <a class="card category-card" routerLink="">
      <img src="assets/images/Noodles.png" alt="Noodles"/>
      <div class="badge">0 Recipes</div>
      <div class="label"><div class="small">0 Recipes</div><div class="name">Noodles</div></div>
    </a>
    <a class="card category-card" routerLink="">
      <img src="assets/images/Salad.png" alt="Salad"/>
      <div class="badge">0 Recipes</div>
      <div class="label"><div class="small">0 Recipes</div><div class="name">Salad</div></div>
    </a>
    <a class="card category-card" routerLink="">
      <img src="assets/images/BBQ.png" alt="BBQ"/>
      <div class="badge">0 Recipes</div>
      <div class="label"><div class="small">0 Recipes</div><div class="name">BBQ</div></div>
    </a>
    <a class="card category-card" routerLink="">
      <img src="assets/images/Bread.png" alt="Bread"/>
      <div class="badge">0 Recipes</div>
      <div class="label"><div class="small">0 Recipes</div><div class="name">Bread</div></div>
    </a></div>