<h1 class='hero-title'>Ingredients</h1><p class='subtitle'>Please prepare the ingredients before start cooking</p><div class='list'>
<label class="list-item"><span>1 ¾ cups all-purpose flour</span><input type="checkbox"/></label>
<label class="list-item"><span>¾ cup unsweetened cocoa powder</span><input type="checkbox"/></label>
<label class="list-item"><span>1 ½ tsp baking powder</span><input type="checkbox"/></label>
<label class="list-item"><span>1 ½ tsp baking soda</span><input type="checkbox"/></label>
<label class="list-item"><span>½ tsp salt</span><input type="checkbox"/></label>
<label class="list-item"><span>2 cups granulated sugar</span><input type="checkbox"/></label>
<label class="list-item"><span>1 cup whole milk</span><input type="checkbox"/></label>
<label class="list-item"><span>½ cup vegetable oil (or melted butter)</span><input type="checkbox"/></label>
</div><div style='margin-top:16px'><a class='btn' routerLink='/directions'>Next</a></div>